/*==app==*/
.app{
	background: #087071;
	margin: 0 auto;
	padding: 3%;
	width: 50%;
	box-shadow: 10px 10px 20px #808080;
	text-align: center;
	color: #CA5405;
}
.app h1{
	text-shadow: 3px 3px#393939;
	font-size: 3em;
}
.app .select-user select{
	width: 50%;
	font-family: computer;
	font-size: 1.2em;
	padding: 1%;
	margin: 0 0 10% 0;
	box-shadow: -5px -5px 5px #3D3C3C;
}
/*==calendar==*/
.app .calendar{
	background: transparent;
	box-shadow: -10px -10px 10px #515050;
	border-radius: 20px;
	padding: 20px;
}
.app .month-header button,
.app .month-header h2{
	display: inline-block;
}
.app .month-header h2{
	width: 120px;
}
.app .month-header button{
	padding: 2%;
	border-radius: 50%;
	margin: 20px;
	color: white;
	background: #3F2A2A;
}
.app .calendar table{
	margin: 0 auto;
}
.app .calendar .days-header table td{
	padding: 15px;
}
.app .calendar .month table td{
	width: 55px;
	height: 55px;
	background: #705050;
	color: #1C1B1B;
}
.app .calendar .month table td:hover{
	background: #FFA85A;
}
.app .calendar .day-hour{
	display: block;
	font-size: .7em;
	color: #C93131;
}
/*==AddTime & notes==*/
.app .addTime, .app textarea{
	margin: 10px;
}
.app .addTime input, .app textarea{
	border-radius: 20px;
	border: 1px solid #7D7D7C;
	padding: 3px;
	font-size: 1em;
}
.app .month-header button:focus,
.app .addTime input:focus,
.app textarea:focus{
	outline: 0;
}
.app .addReject button{
	border-radius: 10px;
	width: 120px;
	height: 40px;
	margin: 15px;
	font-size: 1em;
	font-weight: bold;
	background: #CA5405;
	color: #2D2B2B;
}
.app .addReject button:hover{
	background: #CA7F4D;
}
