/*==app==*/
.app{
	background: #149E79;
	margin: 0 auto;
	padding: 3%;
	width: 40%;
	box-shadow: 10px 10px 20px #808080;
	text-align: center;
	color: #FFA85A;
}
.app h1{
	text-shadow: 1px 1px #FCFBFB;
	font-size: 3em;
}
.app .select-user select{
	width: 50%;
	font-family: computer;
	font-size: 1.2em;
	padding: 1%;
	margin: 0 0 10% 0;
}
/*==calendar==*/
.app .calendar{
	background: #05513D;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #333232;
	height: 380px;
}
.app .month-header button,
.app .month-header h2{
	display: inline-block;
}
.app .month-header h2{
	width: 120px;
}
.app .month-header button{
	padding: 2%;
	border-radius: 50%;
	margin: 20px;
	color: white;
	background: #3F2A2A;
}
.app .calendar table{
	margin: 0 auto;
}
.app .calendar .days-header table td{
	padding: 11px;
}
.app .calendar .month table td{
	padding: 15px;
	background: #492B2B;
}
.app .calendar .month table td:hover{
	background: #FFA85A;
	color: #421212;
}
/*==AddTime & notes==*/
.app .addTime, .app textarea{
	margin: 10px;
}
.app .addTime input, .app textarea{
	border-radius: 20px;
	border: 1px solid #7D7D7C;
	padding: 3px;
	font-size: 1em;
}
.app .month-header button:focus,
.app .addTime input:focus,
.app textarea:focus{
	outline: 0;
}

